.wrapper {
    height: 60px;
    background-color: lightgray;
}

header {
    height: inherit;
    padding: 10px 0;
}

main {
    height: calc(100vh - 100px);
    margin-top: 60px;
    overflow-y: auto;
}

.game-camp {
    width: 500px;
    height: 500px;
}

.cell {
    width: calc(500px / 10);
    height: calc(500px / 10);
    background-color: lightgray;
    border: 1px solid black;
}

footer {
    height: 40px;
    background-color: lightgray;
}

footer i {
    color: red;
    margin-left: 5px;
}